:root{
  --titre : 'Zen Dots', cursive;
  --texte : 'Merriweather', serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Background */
.App{
}

/* Header */
header{
  font-family: var(--titre);
  padding: 2rem;
  background-color: rgb(94, 94, 94);
}
header h1{
  font-size: 5rem;
}
header p{
  font-size: 2rem;
}

.infos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
}

.image img{
  border-radius: 50%;
  border: solid 1rem rgb(35, 228, 218);
}

/* NavBar */
.barnav{

}
.navig{
  background-color: rgb(156, 144, 129);
  display: flex;
  justify-content: center;
  padding-left: 0;
  gap: 3rem;
  height: 6rem;
  list-style: none; 
}
.navig-item a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  height: 100%;
  font-size: 0.75rem;
  text-decoration: none;
  font-family: var(--texte);
}
.navig-item a svg{
height: 100%;
}

/* Sections */
section{
  background-color:white;
}
.titre{
  padding: 2rem;
  text-align: center;
  background-color: blanchedalmond;
border-top-left-radius: 0.25rem;
border-top-right-radius: 0.25rem;
font-family: var(--titre);
}
.titre h2{
  font-size: 3rem;
}
.content{
  font-family: var(--texte);
}
.article-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.25rem;
}
.details{
  font-style: italic;
}
.skills{
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.skills button{
background-color:rgb(35, 228, 218);
transition: 0.4s ease;
border: none;
padding: 0.25rem;
border-radius: 0.25rem;
}
.skills button:hover{
  background-color: tomato;

}

/* Responsive Part */
/* Header */
@media only screen and (max-width:600px){
.header{

}
}

