:root{
  --titre : 'Zen Dots', cursive;
  --texte : 'Merriweather', serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header */
header{
  font-family: var(--titre);
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: rgb(94, 94, 94);
}

.infos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
}

.image img{
  border-radius: 50%;
  border: solid 1rem rgb(35, 228, 218);
}

/* NavBar */
.nav{
  background-color: rgb(156, 144, 129);
  display: flex;
  gap: 3rem;
  height: 14rem;
  
}
.nav-item a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  height: 90%;
  font-size: 2rem;
  text-decoration: none;
  font-family: var(--texte);
}
.nav-item a svg{
height: 100%;
padding: 1rem;
}

